@import '~@dosomething/forge/scss/toolkit';

$tablet: "(min-width: 760px)" !default;
$base-spacing: 24px !default;
$light-gray: #ddd !default;

.signup-card {
  border: 2px solid $light-gray;

  .reportback-noun-verb {
    color: $purple;
  }

  .gallery {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin: gutter() 0;
      padding: 0 gutter();
      overflow: hidden;

      @include media($tablet) {
        @include span(3 of 15);

        &:first-child {
          padding-left: 0px;
        }

        &:nth-of-type(5n + 1) {
          clear: both;
        }
      }
    }
  }
}
