@import '~@dosomething/forge/scss/toolkit';

$tablet: "(min-width: 760px)" !default;
$base-spacing: 24px !default;
$light-gray: #ddd !default;

.signup-card {
  border: 2px solid $light-gray;

  .gallery {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin: gutter() 0;
      padding: 0 gutter();
      overflow: hidden;
    }

    &.-quintet {
      > li {
        @include media($tablet) {
          @include span(3 of 15);

          &:nth-of-type(5n + 1) {
            clear: both;
          }
        }
      }
    }
  }
}
