@import '~@dosomething/forge/scss/toolkit';

$tablet: "(min-width: 760px)" !default;
$base-spacing: 24px !default;
$light-gray: #ddd !default;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: 9999;
  background: rgba(#000, 0.5);

  @media #{$tablet} {
    padding: 72px;
  }

  // Animations (such as `fadeOut` and `moveDown`) are defined in Neue
  // @TODO: Is there a reasonable way to share these?
  &.animated-close {
    animation: fadeOut 0.25s;

    [data-modal] {
      animation: moveDown 0.25s;
    }
  }
}

.modal {
  position: relative;
  background: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.75);
  width: auto;
  word-wrap: break-word;
  z-index: 1050;

  @media #{$tablet} {
    max-width: 600px;
    min-height: 0;
    margin: 0 auto;
  }

  overflow: hidden;

  .heading.-emphasized {
    // make space for "x" button on the right.
    margin: $base-spacing 72px $base-spacing $base-spacing;
    padding: 0;
  }

  .modal-close-button {
    color: $med-gray;
    top: 6px;

    @include media($medium) {
      font-size: 42px;
    }

    &.-alt {
      font-size: $font-regular;
      top: 30px; // Magic number to align in center of where "X" would be.
    }
  }
}

// Close Button
.modal-close-button {
  position: absolute;
  top: 0;
  right: $base-spacing;
  font-size: 36px;
  font-weight: bold;
  color: $light-gray;
  opacity: 0.4;
  text-decoration: none;

  &:hover {
    color: #ccc;
    opacity: 0.7;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &.-alt {
    font-size: 18px;
    top: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  &.-history {
    width: 100%;
    border-radius: 0px;
  }
}