@import '~@dosomething/forge/scss/toolkit';

/**
 * User Export
 */
.user-export {
  margin-bottom: $base-spacing * 2;
  padding: $base-spacing;

	.button {
		margin-top: $base-spacing;
		background-color: $blue;
	}
}
