/node_modules
/public/assets/**
/public/dist
/public/storage
/storage/debugbar
/vendor

.DS_Store
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
.vscode

Homestead.json
Homestead.yaml
npm-debug.log
