<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
      <testsuite name="Console">
        <directory suffix="Test.php">./tests/Console</directory>
      </testsuite>

      <testsuite name="Http">
        <directory suffix="Test.php">./tests/Http</directory>
      </testsuite>

      <testsuite name="Unit">
        <directory suffix="Test.php">./tests/Unit</directory>
      </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_DATABASE" value="rogue_test"/>
        <server name="DS_ENABLE_BLINK" value="false"/>
        <server name="DS_ENABLE_GLIDE" value="true"/>
        <server name="FILESYSTEM_DRIVER" value="public"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SCOUT_DRIVER" value="null"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
