$forge-path: "~@dosomething/forge/assets/";

// Import Forge.
@import "~@dosomething/forge/scss/forge";

.tag {
  list-style-type: none;
  clear: both;
  background: $light-gray;
  color: $med-gray;
  font-size: $font-regular;
  font-weight: $weight-normal;
  font-family: $font-proxima-nova;
  text-align: center;
  border: 0;
  margin: 10px 10px 0 0;

  &:active, &.is-active {
    background: $blue;
    color: $white;
  }
}

.aligned-actions li {
  float: left;
}

.button.-accepted {
  background: #80E85D;

  &:hover {
    background: lighten(#80E85D, $color-tint);
  }

  &:active {
    background: darken(#80E85D, $color-tint);
  }
}

.button.-rejected {
  background: $error-color;

  &:hover {
    background: lighten($error-color, $color-tint);
  }

  &:active {
    background: darken($error-color, $color-tint);
  }
}

.container__block.-third {
  @include media($tablet) {
    @include span(4 of 12);
  }
}
