$forge-path: "~@dosomething/forge/assets/";

// Import Forge.
@import "~@dosomething/forge/scss/forge";

.container__block.-third {
  @include media($tablet) {
    @include span(4 of 12);
  }

  word-wrap: break-word;
}

button.delete {
  padding: 0px;
}

.quantity {
  border: 3px solid #4e2b63;
  padding: 4px 12px;;
  color: #4e2b63;
  font-weight: bold;
  margin-right: 5px;
}

.inbox-item {
  padding: $section-spacing 0;
  border-bottom: 2px solid $purple;
}
