@import '~@dosomething/forge/scss/toolkit';

.tag {
  list-style-type: none;
  clear: both;
  background: $white;
  color: $light-gray;
  font-size: $font-regular;
  font-weight: $weight-normal;
  font-family: $font-proxima-nova;
  text-align: center;
  border-color: $light-gray;
  border-width: 1px;
  border-style: solid;
  margin: 10px 10px 0 0;
  border-radius: 5px;

  &:hover {
    background: $blue;
    color: $white;
  }

  &:active, &.is-active {
    background: $blue;
    color: $white;
  }

  &:focus {
    outline: 0;
  }

  &.is-loading:after {
    content: '...';
  }
}

.aligned-actions li {
  float: left;
}
