@import '../../scss/next-toolbox.scss';

.form-message {
  margin-top: $base-spacing;

  &.-error {
    color: red;

    h3, p {
      color: red;
    }
  }

  &.-success {
    color: green;

    h3, p {
      color: green;
    }
  }
}
