/**
 * Status Counter
 */
@import '~@dosomething/forge/scss/toolkit';

.status-counter {
  margin-bottom: $base-spacing * 2;

  ul {
    @include clearfix;
    margin-bottom: $base-spacing;
  }

  li {
    float: left;
    padding: $base-spacing;
    text-align: center;

    span {
      display: block;
      padding: $base-spacing/2;

      &.status {
        font-weight: $weight-bold;
      }
    }

    &:first-child {
      color: $purple;

      span {
        padding: 0px;
      }

      .count {
        font-size: $font-hero;
        font-weight: $weight-bold;
      }

      .button {
        margin-top: $base-spacing;
        background-color: $blue;
      }
    }
  }
}
