@import '~@dosomething/forge/scss/toolkit';

.gallery.-duo {
  > li {
    &:nth-child(odd) {
      padding-left: 0px;
    }

    &:nth-child(even) {
      padding-right: 0px;
    }
  }
}

.post {
  .admin-tools {
    .admin-tools__links {
      float: left;
    }

    .admin-tools__rotate {
      float: right;

      .spinner {
        background-size: 20px;
      }
    }
  }

  .button.-tertiary {
    padding: 0px;
    &.rotate {
      &:before {
        background: transparent url('../../images/rotate_spinner.svg');
        background-size: cover;
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}
